<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TradingAssistant.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TradingAssistant.Properties.Settings>
            <setting name="polygonApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="polygonThrottlingQueriesPerMinute" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="debugHttpResponses" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="polygonThrottlingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="polygonIgnoreInactiveTickers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="polygonTickerRefreshDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="coinDeskApiKey" serializeAs="String">
                <value />
            </setting>
            <setting name="coinDeskMarketsAggregatedPerAsset" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="coinDeskAggregateAllMarkets" serializeAs="String">
                <value>False</value>
            </setting>
        </TradingAssistant.Properties.Settings>
    </userSettings>
</configuration>